.container {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdflZcWOxvas80BJAK4dvaieqQLvZhYwWPaA&s);
  width: 33%;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: end;
}
.info {
  width: 100%;
  border-radius: 0 0 10px 10px;

  height: 50px;
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.651);
}
